$base-color: #00ff00;

$base-color-shade1:#00e500;
$base-color-shade2:#00cc00;
$base-color-shade3:#00b200;
$base-color-shade4:#009900;
$base-color-shade5:#007f00;
$base-color-shade6:#006600;
$base-color-shade7:#004c00;
$base-color-shade8:#003300;
$base-color-shade9:#001900;
$base-color-shade10:#000000;

$base-color-tint1:#19ff19;
$base-color-tint2:#32ff32;
$base-color-tint3:#4cff4c;
$base-color-tint4:#66ff66;
$base-color-tint5:#7fff7f;
$base-color-tint6:#99ff99;
$base-color-tint7:#b2ffb2;
$base-color-tint8:#ccffcc;
$base-color-tint9:#e5ffe5;
$base-color-tint10:#ffffff;